file uploading

In [ ]:
from google.colab import files
uploaded = files.upload()

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

# Load data

In [ ]:
df = pd.read_excel("ujani_bird_migration.xlsx", sheet_name="data")

# Preview data

In [ ]:
print("First 5 rows:")
print(df.head())

In [ ]:
print("\nDataset Info:")
print(df.info())


# Seasonal bird count

In [ ]:
season_bird_count = (
    df.groupby('season')['bird_count']
    .sum()
    .sort_values(ascending=False)
)

In [ ]:
print("\nTotal Bird Count per Season:")
print(season_bird_count)

# Seasonal species diversity

In [ ]:
season_bird = df.groupby('season')['species_name'].nunique()

In [ ]:
print("\nUnique Species per Season:")
print(season_bird)

# Top 10 abundant species

In [ ]:
abundant_species = (
    df.groupby('species_name')['bird_count']
    .sum()
    .sort_values(ascending=False)
    .head(10)
)

In [ ]:
print("\nTop 10 Most Abundant Species:")
print(abundant_species)

# Visualization

  **Seasonal  abundance**

In [ ]:
season_bird_count.plot(kind='bar')
plt.title('Seasonal Bird Abundance at Ujani Dam')
plt.xlabel('Season')
plt.ylabel('Total Bird Count')
plt.tight_layout()
plt.show()

**Seasonal diversity**

In [ ]:
season_bird.plot(kind='bar')
plt.title('Seasonal Species Diversity at Ujani Dam')
plt.xlabel('Season')
plt.ylabel('Number of Species')
plt.tight_layout()
plt.show()

**Top species**

In [ ]:
abundant_species.plot(kind='barh')
plt.title('Top 10 Most Abundant Bird Species at Ujani Dam')
plt.xlabel('Total Bird Count')
plt.ylabel('Species')
plt.gca().invert_yaxis()
plt.tight_layout()
plt.show()

 **Total unique species**

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [17]:
unique_species = df['species_name'].nunique()
print("\nTotal Unique Bird Species:", unique_species)

Total Unique Bird Species: 286